* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

body,
html {
    height: 100%;
    width: 100%;
}
.home {
    width: 100%;
    height: 100%;
    background-image: url(home\ .jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.home img {
    width: 150px;
    position: relative;
    left: 10%;
}

.home #part1 {
    margin: 120px 170px;
    width: 50%;

}

.home #part1 h5 {
    font-size: 15px;
    font-weight: 400;

}

.home #part1 h2 {

    font-size: 85px;
    font-weight: 500;
    font-family: source serif;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.page2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;


}

.page2 h1 {
    font-size: 70px;

    margin: 30px 150px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: mona sans f;
}

.page2 #nav {
    width: 80%;
    height: 80px;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page2 h3 {
    font-size: 30px;
    font-weight: 400;

}

.page2 #info {
    width: 40%;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgba(177, 176, 176, 0.078);
    padding: 0px 15px;

}

.page2 #info h4 {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.5;
}

.page2 #info #option {
    display: flex;
    gap: 40px;
    align-items: center;
}

.page2 #info #option button {
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: #191919;
}

.page2 #info #option h5 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    opacity: 0.6;
}

.page2 #info #line {
    height: 70%;
    width: 1px;
    background-color: rgb(0, 0, 0);
}

.btm {
    width: 80%;
    height: 55%;
    background-color: #ffffff;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btm .col {
    width: 33.33%;
    height: 100%;


}

.btm #select {
    border-left: 1.5px solid black;
    border-right: 1px solid black;
}

.btm .image {
    width: 100%;
    height: 85%;
    transition: all ease 0.6s;
    overflow: hidden;
    background: transparent;

}

.btm .col .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.btm .col .text {
    width: 100%;
    height: 15%;
    background: transparent;
    padding: 3px 10px;
}

.btm .col .text h5 {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 5px;
}

.btm .col .text h2 {
    font-size: 27px;
    font-weight: 700;
    font-family: serif;
    opacity: 0.9;


}

.btm .col:hover img {
    transform: scale(1.05);

}

.btm .col:hover {
    background-color: rgba(188, 204, 226, 0.093);
}

.page3 {
    width: 100%;
    height: 100%;
    padding-top: 80px;


}

.page3 h1 {
    font-size: 45px;
    padding-top: 50px;
    margin: 30px 150px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: mona sans f;


}

.page3 .btm {
    width: 80%;
    height: 65%;
    display: flex;
    margin-top: 50px;
    border: 1.5px solid black;

}

.page3 #select1 {
    border-left: 1.5px solid black;
    border-right: 1px solid black;
}

.page4 {
    width: 100%;
    height: 100%;
    
}

.page4 h1 {
    font-size: 45px;
    padding-top: 50px;
    margin: 30px 150px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: mona sans f;
}

.page4 .btm {
    width: 80%;
    height: 65%;
    display: flex;
    margin-top: 50px;
    border: 1.5px solid black;

}

.page4 #select2 {
    border-left: 1.5px solid black;
    border-right: 1px solid black;
}

.page5{
    width:100%;
    height:100%;
}
.page5 .btm{
    width: 80%;
    height: 70%;
  border: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.page5 #left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.page5 #left h2{
    font-size: 70px;
    font-weight: 500;
    font-family: mona sans f;
    padding-bottom: 13px;
    
}
.page5 #left p{
    font-size: 16px;
    font-size: 600;
    color: #000000;
    opacity: 0.6;
}
.page5 #left button{
    margin-top: 70px;
    padding: 18px 25px;
    background-color:black;
    color: #ffffff;
    border: none;
    font-size: 13px;
    font-weight: 500;
}
.page5 .btm #left #text i{
    font-size: 16px;
    font-weight: 700;
   color: #ffffff;
  
}

.page5 #right{
    width: 50%;
    height: 100%;
   
}
.page5 #right .gallery{
    width: 100%;
    height: 40%;
    background-color: aqua;
   
    display: flex;
    flex-direction: column;
}
.page5 .btm #right .elem{
    width: 50%;
    height: 100%;
   overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
   
}
.page5 .btm #right .elem .overlay{
    width: 100%;
    height: 100%;
    background-color: #620808;
    z-index: 999; 
}
.page5 .btm #right  .row{
    width: 100%;
    height: 100%;
    background-color: azure;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.page5 .btm #right .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.page5 .btm #right .elem:hover img{
    opacity: 0.6;
    scale: 1.2;
}
